*.log

# System
.DS_Store
__pycache__/

# Docker
.bash_history

# Build
*.bin
*.iso
*.img
build/
libc_build*/
newlib-cygwin/

# Emulation
bochsout.txt
bochsrc.txt

# Testing grounds
pending/
test/
hidden/
*test*

# Makefile
make.conf.json
build.log

# Misc
refs/
journal/
TODO.md
README-UNFINISHED.md
