# Schema
# 1. Prefix patterns
# 2. Suffix patterns
# 3. Folders (Deepest nested to highest)
# 4. Files (Deepest nested to highest)

# WIP
/arch/x86_64/libc

# System & IDEs
__pycache__/
.vscode/
.idea/
.DS_Store

# Docker
.bash_history

# Build
*.bin
/libc_build*/
/build/
/musl/
build.log
disk.img
farix.iso

# Emulation
bochsout.txt
bochsrc.txt

# Testing grounds
/pending/
/test/
/hidden/

# Makefile
fx.state.json
build.log

# Misc
refs/
journal/
TODO.md
README-UNFINISHED.md
